*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: Tahoma, sans-serif;
}

body {
  background-color: rgb(241, 241, 241);
}

.App {
}

.searchBar {
  width: 100%;
  padding: 3rem 2rem;
  border-bottom: 2px solid #333;
}

.form-input {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.form-input label {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.form-input input {
  flex: 1;
  margin: 0 2rem;
  padding: 0.6rem;
  font-size: 1.4rem;
  border: none;
  border-bottom: 2px solid rgb(255, 208, 208);
  border-top: 2px solid transparent;
  background-color: rgba(255, 227, 101, 0.1);
  border-radius: 5px;
}

.form-input input:focus {
  outline: none;
  border-bottom: 2px solid rgb(163, 255, 44);
  background-color: rgba(255, 227, 101, 0.3);
}

.VideoItem {
  display: flex;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.VideoItem__img {
  margin-right: 1rem;
  position: relative;
}

.VideoItem__img:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 0.4rem;
  background-color: transparent;
}

.VideoItem__img:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.VideoItem__img img {
  border-radius: 0.4rem;
}

.VideoItem__content {
  font-family: sans-serif;
  padding: 0.4rem 0;
}

.VideoItem__content h2 {
  font-size: 1.1rem;
}

.VideoItem__content .description {
  font-size: 1rem;
}

.VideoItem__content .Channel {
  color: #999;
  font-size: 0.9rem;
  margin: 0.8rem 0;
}

.VideoDetails {
  width: 80%;
  margin: 1rem auto;
  padding-bottom: 2rem;
}

iframe {
  width: 100%;
  min-height: 65vh;
}

.VideoDetails__title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: 0.6rem;
}
